@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  line-height: 140%;
}

main {
  flex: 1;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px;
}

header,
footer,
main {
  padding: 20px;
}

header,
footer {
  background-color: rgba(221, 221, 221, 0.8);
}

main article {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  margin-top: 0;
}

main article h1 {
  margin-top: 0;
}

.logo,
header nav,
footer section,
main article {
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

footer section {
  padding: 0 15px;
}

main article {
  padding: 40px 80px;
  padding-bottom: 25px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  color: #555;
}

nav a:hover,
nav a.active {
  color: #000;
  text-decoration: underline;
}

nav a:first-of-type {
  padding-left: 0;
}

.logo {
  text-decoration: none;
  color: #000;
  display: block;
  font-family: 'Rock Salt';
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

footer .logo {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

footer .right {
  float: right;
}

footer {
  margin-top: 30px;
}

footer a {
  text-decoration: none;
  color: #000;
}

li {
  margin-bottom: 12px;
}

main img {
  width: 100%;
  border-radius: 10px;
}

main img[src*="left"] {
  width: 40%;
  float: left;
  margin: 0 30px 20px 0;
}

main img[src*="right"] {
  width: 40%;
  float: right;
  margin: 0 0 20px 25px;
}

select {
  padding: 2px 5px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.product {
  border-top: 1px solid #999;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 200px;
  background-position-y: 20px;
}

.price {
  font-weight: bold;
  text-align: right;
}

.product>div {
  width: 45%;
  display: inline-block;
}



/* For a fixed header */
/*header {
  position: fixed;
  width: 100%;
  background-color: rgba(221, 221, 221);
}

main {
  padding-top: 200px;
}*/